{%- import "backend/macros.html" as macros -%}
{%- extends "backend/base.html" -%}


<!-- Provide variable to other files, specify scripts to be downloaded with the app -->
{%- block prepare -%}
    {{super()}}
    {%- set gj.render_head=render_head -%}
    {%- set gj.render_main_screen=render_main_screen -%}
    {%- set gj.render_end=render_end -%}
{%- endblock -%}


<!-- To add something in head specific to the page -->
{% macro render_head() -%}
            
{% endmacro %}



<!-- Render the main view port -->
{% macro render_main_screen() -%}

<div class="w3-container w3-display-middle w3-mobile" style="width: fit-content;">
    <h4>{{error}}</h4>
    {% if error.code==404 %}
    <p>Go to <a href="/" class="w3-text-blue">home</a></p>        
    {% endif %}
</div>

{% endmacro %}


<!-- Specify the scripts to be loaded with promises, the entry point is defined in ${file}.js for ${file}.html -->
{% macro render_end() -%}
    <script>
        state.default_screen = "";

        scripts_to_load=[
            
        ];
    </script>
{% endmacro %}